[Unit]
Description=SSH blacklist daemon
Requires=firewalld.service NetworkManager.service sshd.service
Before=crond.service
After=firewalld.service NetworkManager.service sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/sshblack.pl

[Install]
WantedBy=basic.target
